<div id="footer">Footer


{% if theme_config.credits.enabled %}
   <br clear="all"><div id="credits">{{ grav.theme.name }} Theme by <a href="https://www.shanezentz.com/" target="_blank">Shane Zentz</a>.</div>
{% endif %}

{% if theme_config.footers.enabled %}
   <div id="footers"><p><a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a href="http://www.rockettheme.com">RocketTheme</a>.</p></div>
{% endif %}



</div>

